html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{

	background-image: url(Img/fitness.jpg);
	height: 100%;
	background-size:contain;
	/* background-size:; */
	color:white;
}

.container2{
	background-image: url(Img/fitness2.jpg);
	height: 100%;
	background-size:cover;	
}

.header{
	
	text-align: center;
	margin-left: 200px;
	margin-top: 40px;
	
}


.logo{

	margin-right:200px;

}

.top{
	display: flex;
	justify-content: space-evenly;
	padding-top: 50px;
	text-align: center;
	
}



nav a{

	margin-left: 20px;
	margin-right: 20px;
	text-decoration: none;
	color:white;
	

}

h1{
	text-align: center;
	margin-top: 30px;
	margin-bottom:20px;
	font-size: 4rem;

}

.title p{

	text-align: center;
	font-size: 1.5rem;
}

.Signup{
	margin-top: 75px;
	display: flex;
	margin-left:230px;
	border: none;

}

.Signup p{

	font-size:15px;
}

.Client{

	font-size: 1.5rem;
	padding-top: 40px;
	margin-right: 100px;
	border-radius: 20px;
	height:150px;
	width:500px;
	background-color: rgba(15, 15, 15, 0.7);
	text-align: center;
}

.Trainer{
	padding-top: 40px;
	font-size: 1.5rem;
	border-radius: 20px;
	height:150px;
	width:500px;
	background-color: rgba(15, 15, 15, 0.7);
	margin-left: 100px;
	margin-right:250px;
	text-align: center;
}



.Eli{
	
	color: White;
}

.enter{
	border: none;
	border-radius: 3em;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	display: inline-block;
	font-size: 1em;
	padding: 1em 2em;
	width: auto;
	/* margin-top: 20px; */
}

.loginsection{

	text-align: center;
	padding-top: 40px;
	font-size: 1.5rem;
	border-radius: 20px;
	height:150px;
	width:400px;
	background-color: rgba(15, 15, 15, 0.7);
	margin-left: 400px;
	margin-top:250px; ;
	/* margin-right:250px; */
}