.top {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  text-align: center;
  color: white;
  text-decoration: none;
}
nav a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}
.top2 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
  text-align: center;
  color: white;
  text-decoration: none;
}
.top2 a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
}
.container {
  background-image: url(../Img/fitness.jpg);
  height: 100%;
  background-size: cover;
  color: white;
}
.container2 {
  background-image: url(../Img/fitness2.jpg);
  background-size: cover;
  color: white;
  box-shadow: inset 0 0 0 5000px rgba(0, 0, 0, 0.65);
}
.header {
  display: flex;
  justify-content: space-evenly;
}
.team {
  background-color: rgb(98 60 234);
}
.af {
  align-content: center;
}
.title {
  text-align: center;
}
.title h1 {
  font-size: 4rem;
}
.title p {
  font-size: 1.5rem;
}
.Signup {
  margin-top: 75px;
  display: flex;
  justify-content: space-evenly;
  border: none;
}
.Signup p {
  font-size: 15px;
}
.Client {
  padding-top: 40px 100px 40px;
  font-size: 1.5rem;
  border-radius: 20px;
  height: 250px;
  width: 400px;
  background-color: rgba(15, 15, 15, 0.7);
  text-align: center;
}
.Trainer {
  padding-top: 40px 100px 40px;
  font-size: 1.5rem;
  border-radius: 20px;
  height: 250px;
  width: 400px;
  background-color: rgba(15, 15, 15, 0.7);
  text-align: center;
}
.form {
  display: flex;
  margin-bottom: 30px;
}
.login {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}
.loginsection {
  font-size: 1.5rem;
  border-radius: 20px;
  height: 200px;
  width: 250px;
  background-color: rgba(15, 15, 15, 0.7);
  text-align: center;
}
